.feature {
	width: 1200px;
	height: 710px;
	margin: 0 auto;
	text-align: center;
}

.feature-title {
	margin-top: 90px;
	width: 1170px;
	vertical-align: middle;
}

.feature-title h2{
	margin: 40px 170px 80px 170px;
	width: 830px;
}

.feature-list {
	height: 400px;
}

.feature-list li {
	float: left;
	margin-right: 30px;
	width: 570px;
	height: 120px;
}

.feature-list img {
	overflow: hidden;
	float: left;
	margin-left: 70px;
}

.feature-list .list-intro {
	text-align: left;
	margin-left: 140px;
	width: 380px;
}

.feature-list .list-intro h3 {
	margin-bottom: 20px;
}

.feature-list .list-intro p {
	font-size: 16px;
}

.guild {
	width: 1600px;
	height: 800px;
	background: url(../img/guild-bg.jpg) no-repeat;
	color: #fff;
}

.guild-container {
	width:1600px;
	margin-left: 315px;
}
.guild-leftcol {
	float: left;
	margin-top: 180px;
	width:570px;
	font-size: 0;
}

.guild-leftcol article {
	width: 370px;
	margin-bottom: 60px;
}
.guild-leftcol h2 {
	margin-bottom: 40px;
}

.guild-leftcol button {
	width: 240px;
	height: 60px;
	margin-right: 30px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #6d746f;
}

.guild-leftcol button:last-child {
	background-color: transparent;
	color: #fff;
}

.guild-rightcol {
	position: relative;
	top: 100px;
	left:640px;
	width: 700px;
	height: 600px;
	border: 1px solid #6d746f;
	border-radius: 50px;
}

.guild-rightcol .circle-icon {
	position: relative;
	top:290px;
	left: 30px;
	width: 10px;
	height: 10px;
	border: 1px solid #6d746f;
	border-radius: 50%;
}

.guild-rightcol .guild-info {
	position: relative;
	top:-520px;
	left: 60px;
	width: 585px;
	height: 542px;
}

.products {
	height: 580px;
	border-bottom: 1px solid #e7e7e7;
}

.products h2 {
	margin-top: 100px;
	margin-left: 570px;
}

.product-container {
	width: 970px;
	margin-top: 80px;
	margin-left: 315px;
	display: flex;
} 

.product-container .product-col {
	width: 300px;
	margin-right: 35px;
}

.product-container .product-col:last-child {
	margin-right: 0px;
}

.product-container .product-col img {
	margin: 0 auto;
}

.product-container .product-col p {
	margin-top: 40px;
	text-align: center;
}

.news {
	height: 780px;
	padding-top: 30px;
	padding-bottom: 110px;
	border-bottom: 1px solid #e7e7e7;
}

.news-row {
	width:970px;
	height: 350px;
	margin-top: 80px;
}
.news-row .news-pic {
	display: inline-block;
	width: 570px;
	height: 350px;
	overflow: hidden;
}
.row1 .news-pic {
	float: left;
}

.row2 .news-pic {
	float: right;
}

.news-row .news-text {
	height: 350px;
}

.news-text h3 {
	height: 50px;
	margin-top: 70px;
	margin-bottom: 30px;
}

.row1 .news-text{
	float: right;
	margin-left: 30px;
	padding-left: 70px;
	width: 300px;
}

.row2 .news-text{
	float: left;
	width: 370px;
}

.crew {
	height: 1080px;
	border-bottom: 1px solid #e7e7e7;
}

.crew .crew-title{
	width: 770px;
	height: 120px;
	margin: 100px 0px 60px 415px;
	text-align: center;
}

.crew .crew-title h2 {
	margin-bottom: 30px;
}

.crew .crew-title p {
	width: 680px;
	margin-left: 50px;
}

.crew-container {
	display: flex;
	margin-left: 315px;
	margin-bottom: 30px;
	height: 340px;
}

.crew-item {
	position: relative;
	margin-right: 30px;
}

.crew-item .crew-pic {
	width: 470px;
	height: 340px;
	overflow: hidden;
}

.crew-item .crew-info {
	position: absolute;
	top: 0;
	height: 340px;
	text-align: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: rgba(0,0,0,0.6);
	opacity: 0;
}

.crew-info .info-text {
	width: 470px;
	height: 60px;
	margin-top: 110px;
	margin-bottom: 30px;
}

.crew-info .info-text h3 {
	margin-bottom: 20px;
}

.crew-info .link-icon {
	display: flex;
	margin-left: 100px;
	width: 270px;
}

.crew-info .link-icon img {
	width: 51px;
	height: 54px;
	overflow: hidden;
	margin-left: 30px;
}

.crew-item a:hover .crew-info {
	opacity: 1;
	
}

.contacts {
	height: 700px;
}

.contact-col-left {
	float: left;
	width: 470px;
	height: 560px;
	margin-top: 70px;
	margin-left: 315px;
	margin-bottom: 70px;
	text-align: center;
	border: 1px solid #e7e7e7;
	border-radius: 20px;
}

.contact-col-left h3 {
	margin: 50px auto;
}

.contact-col-left input {
	width: 350px;
	height: 50px;
	margin-bottom: 30px;
	padding-left: 20px;
	border: 1px solid #e7e7e7;
}

.contact-col-left textarea {
	width: 350px;
	height: 130px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-top: 20px;
	border: 1px solid #e7e7e7;
}

.contact-col-left button {
	display: block;
	width: 370px;
	height: 50px;
	margin-left: 50px ;
	background-color: #000000;
	border: none;
}

.contact-col-right {
	float: left;
	width: 370px;
	height: 390px;
	margin-top: 160px;
	margin-left: 130px;
	text-align: left;
}

.contact-col-right h2 {
	margin-bottom: 40px;
}

.contact-col-right p {
	margin-bottom: 70px;
}

.contact-col-right a {
	display: flex;
	margin-bottom: 30px;
}

.contact-col-right img {
	display: inline;
}

.contact-col-right .map-icon {
	width: 19px;
	height: 25px;
}

.contact-col-right .phone-icon {
	width: 24px;
	height: 24px;
}

.contact-col-right .email-icon {
	width: 24px;
	height: 19px;
}

.contact-col-right span {
	display: inline-block;
	margin-left: 15px;
	line-height: 1.5;
	
}